<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="clientes.component.css">
</head>
<div class="conteiner mt-3">
     Nuevo Pedido
     <hr>
        <div class="grid">
          <div class="listado">Tu Pedido
            <hr>
            <p>Cantidad|  Descripcion del producto|Precio</p>
           <hr>
           <ul>
            <li *ngFor="let pedido of pedidovista.productos">
              <div>{{pedido.producto.cantidad}}--{{pedido.producto.nombre}}---{{pedido.producto.precio}}</div>
            </li>
          </ul>
          
           <button (click)="guardarpedido()" class="btn btn-success btn-lg btn-block">Confirmar</button>
          </div >
         <ul   class="grid" >
           <li *ngFor="let producto of productos">
            <div>
              {{producto.nombre}} - {{producto.descripcion}} 
              <img src={{producto.imgpath}} style="width:200px;height: 200px;">
              <p></p>
              <div>
                 $ {{producto.precio}}
                <p></p>
                <button (click)="agregarProducto(producto)" type="button" class="btn btn-primary" >Agregar</button>
             
              </div>
             </div>
           </li>
         </ul>         
         
            
        </div> 
        
       
</div>