# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documentos\undec\5to\tesis\Proyecto Level\trabajofinal-tesis-undec\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../../../../../:\Documentos\undec\5to\tesis\Proyecto Level\trabajofinal-tesis-undec\backend\target